__pycache__
.ipynb_checkpoints
checkpoints_v2
dataset
docs
h_models
models
MyShell_OpenVoice.egg-info
openvoice
outputs_v2
processed
resources
save_text_data/
save_tts_data/
LICENSE
README.md
setup.py
*.zip